weapon:
  - count: 3
    entity: (x, y, z, world)
  - count: 2
    player: TurboJax07
  - count: 2
    echest: TurboJax07
  - count: 4
    storage: (x, y, z, world)

{
  "weapon": [
    {
      "count": 3,
      "location": "(x, y, z, world)"
    }
  ]
}